<!-- States Start-->


<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>States</h2>
        <a href="/categories" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
        <a href="/rajasthan" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/Rajasthan.jpg" alt="Rajasthan" Loading="lazy">
            </div>
            <div class="pt-1">Rajasthan</div>
        </a>

        <a href="/up" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/Uttar-pradesh-map.jpg" alt="Uttar Pradesh" Loading="lazy">
            </div>
            <div class="pt-1">Uttar Pradesh</div>
        </a>

        <a href="/punjab" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/punjab.jpg" alt="Punjab" Loading="lazy">
            </div>
            <div class="pt-1">Punjab</div>
        </a>

        <a href="/gujrat" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/gujrat.jpg" alt="Gujrat" Loading="lazy">
            </div>
            <div class="pt-1">Gujrat</div>
        </a>

        <a href="/maharashtra" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/Maharashtra.jpg" alt="Maharashtra" Loading="lazy">
            </div>
            <div class="pt-1">Maharashtra</div>
        </a>

        <a href="/categories" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/india.jpg" alt="View All States" Loading="lazy">
            </div>
            <div class="pt-1">View All</div>
        </a>
    </div>
</section>
<!-- States End -->

<!-- Storage Type Start-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Storage Types</h2>
        <a href="/storage-type" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
        <a href="/vegetables" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/vegetables.jpg" alt="Vegetables" Loading="lazy">
            </div>
            <div class="pt-1">Vegetables</div>
        </a>

        <a href="/legume" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/legumes.jpg" alt="Legumes" Loading="lazy">
            </div>
            <div class="pt-1">Legumes</div>
        </a>

        <a href="/grains" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/grains.jpg" alt="Grains" Loading="lazy">
            </div>
            <div class="pt-1">Grains</div>
        </a>

        <a href="/fruit" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/fruits.jpg" alt="Fruits" Loading="lazy">
            </div>
            <div class="pt-1">Fruits</div>
        </a>

        <a href="/poultry" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/poultry.jpg" alt="Poultry" Loading="lazy">
            </div>
            <div class="pt-1">Poultry</div>
        </a>

        <a href="/storage-type" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/all-types.jpg" alt="View All" Loading="lazy">
            </div>
            <div class="pt-1">View All</div>
        </a>

    </div>
</section>

<!-- Storage Type End-->

