<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Login User</li>
    </ol>
  </nav>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">User Login</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Login into your account.</p>
    </div>
</div>

<div  class="row justify-content-center">

    <% if(infoSubmitObj != '') { %>
        <div class="col-8 alert alert-success" role="alert">
            <%= infoSubmitObj %>
        </div>
    <% } %>

    <% if(infoErrorsObj != '') { %>
        <div class="col-8 alert alert-danger" role="alert">
            <%= infoErrorsObj[0].message %>
        </div>
    <% } %>


    <div class="col-8">

        <form action="/register-user" enctype="multipart/form-data" method="POST">

            <div class="row g-3">
                <div class="col-12">
                    <label for="'email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="email" id="password" class="form-control" required>
                </div>

                <div class="col-12">
                    <button type="login" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Continue to Dashboard</h1>
    <div class="col-lg-6 mx-auto">
        <button type="homepage" class="btn btn-primary"><a href="http://localhost:4444/">Return to Homepage</a></button>
        <button type="continue" class="btn btn-outline-secondary"><a href="http://localhost:4444/dashboard">Continue to Dashboard</a></button>
    </div>
</div>

